.gas-title {
	margin-top: 20px;
	color: goldenrod;
	font-size: 20px;
}

.gallons {
	margin-top: 10px;
}

.gas-choise {
	margin-top: 10px;
}

.gas {
	cursor: pointer;
}

.price-out {
	margin-top: 10px;
	color: royalblue;
}

.btn-gas-select {
	border: 1px solid red;
	transition: 0.5s;
}

.red {
	color: red;
}

.paste-new-element {
	margin-top: 20px;
}

.featured {
	border: 1px solid #000;
	width: 20%;
	text-align: center;
	padding: 10px;
}

.featured ul {
	list-style-type: none;
	padding: 0;
}

.btn-weather {
	width: 100px;
	height: 30px;
	cursor: pointer;
}

.btn-weather:hover {
	background-color: aqua;
	transition: 0.5s;
}

.blocks {
	width: 60px;
	height: 60px;
	border: 1px solid olivedrab;
	display: inline-block;
	margin: 0 10px;
	text-align: center;
	cursor: pointer;
}

.block-touch {
	width: 250px;
	height: 250px;
	border: 3px solid orange;
	margin: 10px;
}

.orange {
	background-color: orange;
}

.rekanimation {
	width: 50px;
	height: 50px;
	position: relative;
}

.move {
	background-color: greenyellow;
	margin-top: 10px;
	border: 1px solid orange;
	cursor: pointer;
}